.container {
    background-color: #fc8679;
    z-index: 90;
  }
  .sidebar {
    background-image: linear-gradient(to bottom, #fffcdc, #FFAF7B);
    border-right: 1px solid #FFFFFF;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.8s ease;
    color: #202020;
    height: 100%;
    z-index: 99;
  }
  .button {
    position: relative;
    left: 100px; 
    top: 670px;
    width: 35px;
    height: 35px;
    z-index: 99;
    transition: 0.8s ease;
    border: 2px solid #fc9e79;
    background-color: #fc9e79;
    border-radius: 40px;
    overflow: hidden;
    position: fixed;
  }
  .openBtn {
    width: 70%;
    height: 70%;
  }
  .content {
    padding: 40px 40px 0 20px;
    position: relative;
    width: 100%;
  }
  .icon {
    margin: 0;
    color: #202020;
  }