html,
body {
    font-family: Gmarket;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 0%; /* 스크롤바의 길이 */
    background: #ff9684; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.body-container {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.first-section {
    align-items: center;
    background: linear-gradient(#fbfbfb,#ffe1dc);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.first-section .main-title {
    bottom: 45%;
    display: flex;
    flex-direction: column;
    left: 16%;
    margin-bottom: 2rem;
    position: absolute;
    z-index: 100;
}

.first-section .main-title .title-line {
    font-family: 'Pretendard';
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.first-section .start-btn {
    align-items: center;
    background-color: #FF6162;
    border: 3px solid #FF6162;
    border-radius: 30px;
    bottom: 37%;
    color: #fbfbfb;
    display: flex;
    font-family: 'Pretendard';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    left: 16%;
    opacity: 80%;
    padding: 0.5rem 1.5rem;
    position: absolute;
    transition: .3s ease;
    z-index: 100;
}

.first-section .start-btn:hover {
    background-color: #fbfbfb;
    color: #FF6162;
}

.first-section .wave-box {
    bottom: 0;
    flex-shrink: 0;
    height: 45%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.first-section .wave {
    -webkit-animation: drift 8s linear infinite;
    animation: drift 8s linear infinite;
    background: #ffe3dc;
    border-radius: 43%;
    height: 4000px;
    left: -63%;
    margin-left: -250px;
    margin-top: -250px;
    opacity: .4;
    position: absolute;
    top: 181%;
    -webkit-transform-origin: 50% 48%;
    transform-origin: 50% 48%;
    width: 4000px;
    z-index: 0;
}

.first-section .wave.-two {
    -webkit-animation: drift 7s linear infinite;
    animation: drift 7s linear infinite;
    background: #ff7b5a;
    opacity: .1;
    z-index: 0;
}

.first-section .wave.-three {
    -webkit-animation: drift 5s linear infinite;
    animation: drift 5s linear infinite;
    z-index: 0;
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

.second-section {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: space-around;
    padding-left: 12rem;
    padding-right: 12rem;
    position: relative;
    width: 100%;
}

.second-section .second-bg {
    background-color: #fca292;
    height: 100%;
    opacity: .4;
    position: absolute;
    width: 100%;
}