@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

.minutes-wrap {
  margin-top: 5rem;
}

.editor-container {
  flex-grow: 1;
  display: flex; /* 추가: 가로 크기 조절을 위해 flex 설정 */
  flex-direction: column; /* 추가: 세로 크기 조절을 위해 column 설정 */
}

.editor {
  flex-grow: 1; /* 추가: 가로 크기 조절을 위해 flex-grow 설정 */
  width: 100%;
  height: 100%;
  min-height: 0; /* 추가: 세로 크기 조절을 위해 min-height 설정 */
  padding: 10px;
  border: 1px solid #880e4f;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.save-button,
.go-back-button {
  padding: 7px 17px;
  font-size: 16px;
  font-weight: bold;
  color: #fbfbfb;
  background-color: #fc8778;
  border: 2px solid #fc8778 !important;
  border: none;
  border-radius: 30px;
  opacity: 80%;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Pretendard';
  font-size: 22px;
  font-weight: 300;
  transition: .3s ease;
}

.save-button:hover,
.go-back-button:hover {
  background-color: #fbfbfb;
  color: #FF6162;
}

*, ::after, ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.responsive-wrapper .minutes-editor {
  box-shadow: 0 0 0 1px rgba(0,0,0,.05);
  position: relative;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0.5rem;
}

.responsive-wrapper .minutes-editor .editor-header {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237,242,247,var(--border-opacity));
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255,255,255,var(--bg-opacity));
}

.responsive-wrapper .minutes-editor .editor-header .circle-btn {
  align-items: center;
  display: flex;
}

.responsive-wrapper .minutes-editor .editor-header .circle-btn .red-c {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #f56565;
  background-color: rgba(245,101,101,var(--bg-opacity));
}

.responsive-wrapper .minutes-editor .editor-header .circle-btn .yellow-c {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #f6e05e;
  background-color: rgba(246,224,94,var(--bg-opacity));
}

.responsive-wrapper .minutes-editor .editor-header .circle-btn .green-c {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #48bb78;
  background-color: rgba(72,187,120,var(--bg-opacity));
}

.minutes-editor .editor-header {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237,242,247,var(--border-opacity));
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255,255,255,var(--bg-opacity));
}

.minutes-editor .editor-title {
  margin: 10px 0px 10px 1.5rem;
}

.minutes-editor .editor-title-txt {
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.minutes-editor .editor-container .editor-content .editor-text {
  padding: 1.5rem;
  /* min-height: 100vh; */
  width: 100%;
  font-size: 20px;
  display: block;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
  font-family: 'Pretendard';
  margin: 0;
}

.minutes-editor .editor-container .editor-content .editor-text:focus {
  outline: none;
}